.heading {
  font-size: 62px;
  text-align: left;

  @include desktop-2k-above {
    font-size: 72px;
  }

  @media (max-width: 700px) {
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: 40px;
  }

  @media (max-width: 350px) {
    font-size: 30px;
  }
}
