:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #52bedc;
  --color-accent: #f8f200;
  --color-gray: #777777;

  --font-family-base: "Archangelsk", sans-serif;
  --font-family-alt: "Roboto", sans-serif;

  --font-size-base: 18px;

  --line-height-base: 1.89;

  --font-weight-bold: 700;

  --container-width: 1280px;
  --container-padding-x: 12px;

  --input-height: 35px;
  --button-height: 59px;

  --transition-duration: 0.2s;
}
