@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #52bedc;
  --color-accent: #f8f200;
  --color-gray: #777777;
  --font-family-base: "Archangelsk", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
  --font-size-base: 18px;
  --line-height-base: 1.89;
  --font-weight-bold: 700;
  --container-width: 1280px;
  --container-padding-x: 12px;
  --input-height: 35px;
  --button-height: 59px;
  --transition-duration: 0.2s;
}

.container {
  max-width: 1480px;
  margin-inline: auto;
  padding-inline: 36px;
}
@media (max-width: 700px) {
  .container {
    padding-inline: 0;
  }
}

.container-small {
  max-width: 1280px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-black);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
.h2 {
  font-weight: 400;
}

h3,
.h3 {
  font-weight: 700;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 32px;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.section {
  margin-top: 70px;
}

.heading {
  font-size: 62px;
  text-align: left;
}
@media (min-width: 2001px) {
  .heading {
    font-size: 72px;
  }
}
@media (max-width: 700px) {
  .heading {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .heading {
    font-size: 40px;
  }
}
@media (max-width: 350px) {
  .heading {
    font-size: 30px;
  }
}

.button-cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
  height: 78px;
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-accent);
  background-color: var(--color-black);
}
@media (max-width: 350px) {
  .button-cta {
    height: 60px;
    font-size: 20px;
    padding-inline: 38px;
    width: 244px;
  }
}

.header {
  height: 1000px;
  background-image: url(../../images/main-bg-large.jpg);
  background-size: cover; /* Cover the container while maintaining aspect ratio */
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-width: 2001px) {
  .header {
    height: 97vh;
  }
}
@media (max-width: 1023px) {
  .header {
    background-image: url(../../images/main-bg-medium.jpg);
  }
}
@media (max-width: 350px) {
  .header {
    height: 713px;
  }
}
.header__inner {
  max-width: 1352px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 2001px) {
  .header__inner {
    max-width: 1480px;
  }
}
@media (max-width: 700px) {
  .header__inner {
    align-items: center;
  }
}
@media (max-width: 350px) {
  .header__inner {
    background-position: center;
  }
}
.header__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__links {
  width: 100%;
  max-width: 1280px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
@media (min-width: 2001px) {
  .header__links {
    max-width: 1480px;
  }
}
@media (max-width: 800px) {
  .header__links {
    flex-direction: column;
    row-gap: 10px;
  }
}
.header__links-icon {
  width: 30px;
  height: 30px;
}
@media (min-width: 2001px) {
  .header__links-icon {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 550px) {
  .header__links-icon {
    width: 25px;
    height: 25px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 550px) {
  .header__list {
    column-gap: 30px;
    padding-inline: 12px;
  }
}

.cta-box {
  max-width: 624px;
  height: 369px;
  text-align: left;
  background-color: var(--color-accent);
  clip-path: polygon(8% 0, 80% 0%, 100% 0, 100% 85%, 92% 100%, 0 100%, 0% 80%, 0 13%);
}
@media (min-width: 2001px) {
  .cta-box {
    max-width: 724px;
  }
}
@media (max-width: 700px) {
  .cta-box {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .cta-box {
    padding-top: 30px;
    height: 269px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cta-box {
    padding-top: 0;
    clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 75%, 83% 100%, 20% 100%, 0 100%, 0 24%);
    height: 207px;
  }
}
.cta-box__inner {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
}
@media (max-width: 700px) {
  .cta-box__inner {
    padding: 45px;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .cta-box__inner {
    padding: 12px 30px;
  }
}
@media (max-width: 350px) {
  .cta-box__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }
}
.cta-box__title {
  font-size: 62px;
}
@media (min-width: 2001px) {
  .cta-box__title {
    font-size: 72px;
  }
}
@media (max-width: 700px) {
  .cta-box__title {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .cta-box__title {
    font-size: 40px;
  }
}
@media (max-width: 350px) {
  .cta-box__title {
    font-size: 30px;
  }
}

.logo__image {
  height: auto;
  transition: width 0.3s ease;
}
@media (min-width: 2001px) {
  .logo__image {
    width: 400px;
  }
}

.change {
  margin-inline: 15px;
}
@media (max-width: 700px) {
  .change {
    margin-inline: 0;
  }
}
@media (max-width: 1023px) {
  .change__header {
    padding: 17px;
  }
}
.change__description {
  margin-top: 25px;
  max-width: 952px;
  width: 100%;
  color: var(--color-gray);
  font-family: var(--font-family-alt), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.change__accent {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
}
.change__body {
  margin-top: 70px;
}
.change__two-images-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .change__two-images-wrapper {
    flex-direction: row;
    justify-content: center;
    column-gap: 32px;
  }
}
@media (max-width: 970px) {
  .change__two-images-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
}
.change__one-image-wrapper {
  display: flex;
  justify-content: center;
}
.change__image {
  clip-path: polygon(8% 0, 80% 0%, 100% 0, 100% 85%, 92% 100%, 0 100%, 0% 80%, 0 13%);
}
@media (max-width: 1023px) {
  .change__image--small {
    width: 100%;
    max-width: 952px;
    min-height: 196px;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .change__image--big {
    width: 100%;
    max-width: 952px;
  }
}
.grid-3-pics {
  display: grid;
  grid-template-columns: 35% 62.5%;
  gap: 32px;
}
@media (max-width: 1023px) {
  .grid-3-pics {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
